.container {
    width: 500px;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  
  @media (max-width: 720px) {
    .container {
      width: 200px;
    }
  }
  
  .author {
    color: grey;
    text-align: end;
  }
  